h1 {
    text-align: center;
}

nav {
    margin-bottom: 30px;
}

.center {
    margin-left: 20%;
    margin-top: 10%;
}

.bottom {
    margin-top: 3%;
}

.table-overview {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.add-button {
    margin-bottom: 5%;
}